DATA_FILE=data/demoData.csv
REDIS_URL=redis://localhost:6379
REDIS_CHANNEL=hub-counts
REDIS_CONNECT_RETRY=true
REDIS_CONNECT_RETRY_INTERVAL=2s
GROUP_BY_HOUR=true
BULK_PUBLISH=true
PUBLISH_INTERVAL=2s
